In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("Dados/diabetes.csv")

In [3]:
df.head()

   preg  plas  pres  skin  insu  mass   pedi  age            class
0     6   148    72    35     0  33.6  0.627   50  tested_positive
1     1    85    66    29     0  26.6  0.351   31  tested_negative
2     8   183    64     0     0  23.3  0.672   32  tested_positive
3     1    89    66    23    94  28.1  0.167   21  tested_negative
4     0   137    40    35   168  43.1  2.288   33  tested_positive

In [5]:
df.shape

(768, 9)

In [6]:
df.columns

Index(['preg', 'plas', 'pres', 'skin', 'insu', 'mass', 'pedi', 'age', 'class'], dtype='object')

In [7]:
name_to_class = {
    'tested_negative': 0,
    'tested_positive' : 1
}

In [8]:
#Substituindo os valores categóricos pelo mapamento
df['class'] = df['class'].map(name_to_class)

df.head()

   preg  plas  pres  skin  insu  mass   pedi  age  class
0     6   148    72    35     0  33.6  0.627   50      1
1     1    85    66    29     0  26.6  0.351   31      0
2     8   183    64     0     0  23.3  0.672   32      1
3     1    89    66    23    94  28.1  0.167   21      0
4     0   137    40    35   168  43.1  2.288   33      1

In [9]:
#Analisando um resumo da base
df.describe()

,preg,plas,pres,skin,insu,mass,pedi,age,class
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [10]:
#Amazenando os labels em um array
labels = np.array(df['class'])

#Salvando a ordem das features
feauture_list = list(df.columns)

In [11]:
#Removendo  a coluna de labels do df original
df = df.drop('class', axis = 1)

In [12]:
#Convertendo o df para um array
data = np.array(df)

In [13]:
from sklearn.model_selection import train_test_split

#Divindo em treino e teste
train_data, test_data, train_labels, test_labels = train_test_split(data, labels, test_size=0.25, random_state = 42)

In [14]:
#Baseline
baseline_preds = np.random.choice([0,1], size = len(test_labels))

print(baseline_preds)

[1 0 0 1 0 1 1 1 1 1 0 0 1 0 0 1 1 0 0 1 0 0 1 0 0 0 0 0 1 1 0 1 0 1 1 1 0
 0 0 1 1 0 0 0 1 1 0 1 1 0 0 0 0 0 0 1 0 1 1 0 1 1 1 0 1 1 1 1 0 0 0 0 1 1
 0 0 0 1 0 0 1 0 0 1 1 1 0 1 0 0 0 0 0 0 0 1 1 0 1 1 1 0 0 0 0 0 0 0 0 1 0
 1 1 1 1 0 0 0 1 0 0 0 0 0 0 0 1 1 0 1 0 1 0 0 0 1 1 1 1 1 1 1 0 1 1 1 0 0
 0 1 0 0 0 1 1 0 1 1 0 1 0 1 0 0 0 0 0 1 1 1 1 1 1 0 1 0 0 0 0 0 1 1 0 0 0
 0 1 1 0 1 0 0]

In [16]:
#Calculando Metricas
from sklearn import metrics

print('Matriz de Confusão\n', metrics.confusion_matrix(test_labels, baseline_preds))
print('Acuracia:', metrics.accuracy_score(test_labels, baseline_preds))
print('Acuracia Balanceada por Classe:', metrics.balanced_accuracy_score(test_labels, baseline_preds))
print('Precision:', metrics.precision_score(test_labels, baseline_preds))
print('Recall:', metrics.recall_score(test_labels, baseline_preds))
print('F1:', metrics.f1_score(test_labels, baseline_preds))
print('Matriz de Confusão:', metrics.roc_auc_score(test_labels, baseline_preds))

Matriz de Confusão
 [[66 57]
 [40 29]]
Acuracia 0.4947916666666667
Acuracia Balanceada por Classe 0.47843761046306116
Precision 0.3372093023255814
Recall 0.42028985507246375
F1 0.37419354838709673
Matriz de Confusão 0.47843761046306116